body {
    font-family: Verdana, Arial;
    font-size: 100%;
    text-decoration: none;
    color: #303030;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    /*background-color: #EBF2D0;*/
}

.RE_Table_Container,
.RE_TRow_Container,
.RE_TCol_Container {
    margin: 0;
    padding: 0;
    border: 0;
}

.RE_Table_Container {
    display: table;
    width: 100%;
}

.RE_Table,
.RE_Table_MasterPage,
.RE_Table_MasterPage_Loading,
.RE_TRow,
.RE_TRow_h45,
.RE_TRow_MasterPage_Loading,
.RE_TRow_headerRow,
.RE_TRow_MasterPage_headerRow,
.RE_TRow_MasterPage_menuRow,
.RE_TRow_MasterPage_bodyContentRow,
.RE_TRow_MasterPage_footerContentRow,
.RE_TCol,
.RE_TCol_std_menu,
.RE_TCol_MasterPage,
.RE_TCol_MasterPage_std,
.RE_TCol_MasterPage_left_column,
.RE_TCol_MasterPage_icon_column,
.RE_TCol_MasterPage_center_column,
.RE_TCol_MasterPage_user_column {
    /*border: 1px solid black;*/
    border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.RE_Table {
    display: table;
    width: 100%;
}

.RE_Table_MasterPage {
    display: table;
    width: 100%;
}

.RE_Table_MasterPage_Loading {
    display: table;
    width: 100%;
    height: 97%;
}

.RE_TRow {
    clear: both;
    display: table-row;
    height: 100%;
}

.RE_TRow_h45 {
    clear: both;
    display: table-row;
    height: 45px;
}

.RE_TRow_MasterPage_Loading {
    clear: both;
    display: table-row;
}

.RE_TRow_MasterPage_headerRow {
    vertical-align: middle;
    background-color: #f3f3f3;
    clear: both;
    display: table-row;
    height: 60px;
}

.RE_TRow_MasterPage_menuRow {
    clear: both;
    display: table-row;
    height: 0px;
    background-color: #e9e9e9;
}

.RE_TRow_MasterPage_bodyContentRow {
    clear: both;
    display: table-row;
    height: 565px;
}

.RE_TRow_MasterPage_footerContentRow {
    clear: both;
    display: table-row;
    height: 20px;
}

.RE_TCol {
    float: inherit;
    width: 32.7%;
    height: 100%;
    display: table-cell;
    margin: 0;
    padding: 5px;
}

.RE_TCol_std_menu {
    float: inherit;
    display: table-cell;
}

.RE_TCol_MasterPage_std {
    float: inherit;
    width: 100%;
    display: table-cell;
    margin: 0;
}

.RE_TCol_MasterPage_100_45 {
    float: inherit;
    width: 100%;
    height: 45%;
    display: table-cell;
    margin: 0;
}

.RE_TColBorder {
    float: inherit;
    width: 32.7%;
    height: 100%;
    display: table-cell;
    margin: 0;
    padding: 5px;
    border-style: solid;
    border-color: Red;
    border: 1;
}

.RE_TCol_MasterPage_left_column {
    float: inherit;
    display: table-cell;
    margin: 0;
    width: 75px;
}

.RE_TCol_MasterPage_icon_column {
    float: inherit;
    display: table-cell;
    margin: 0;
    width: 60px;
}

.RE_TCol_MasterPage_center_column {
    float: inherit;
    display: table-cell;
    margin: 0;
    width: 525px;
}

.RE_TCol_MasterPage_user_column {
    float: inherit;
    display: table-cell;
    margin: 0;
    width: 220px;
}

.RE_TCol_MasterPage_100_column {
    float: inherit;
    display: table-cell;
    margin: 0;
    width: auto;
}



.g_justify {
    text-align: justify;
}

.g_left {
    text-align: left;
}

.g_center {
    text-align: center;
}

.g_right {
    text-align: right;
}

.g_v_top {
    vertical-align: top;
}

.g_v_bottom {
    vertical-align: bottom;
}

.myREMasterTable {
    font-family: Verdana, Arial;
    color: #303030;
    /*	
    margin-right: auto; 
    margin-left: auto; 
    margin-bottom: auto; 
    margin-top: auto;
 */
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    /*	vertical-align: top;*/
    width: 100%;
}

    .myREMasterTable tr, td {
        /*vertical-align: top;*/
    }

    .myREMasterTable td.user_column /* 1.60 */ {
        width: 200px;
    }

    .myREMasterTable td.icon_column /* 1.60 */ {
        width: 60px;
    }

    .myREMasterTable td.left_column {
        width: 75px;
    }

    .myREMasterTable td.center_column {
        width: 525px;
    }

    .myREMasterTable td.right_column {
        width: 150px;
    }

    .myREMasterTable tr.headerRow td {
        vertical-align: middle;
        /*background-color:#f3f3f3;*/
        background-color: #f3f3f3;
        height: 60px;
    }

    .myREMasterTable tr.headerRowPages td {
        vertical-align: middle;
        /*background-color:#f3f3f3;*/
        background-color: #e9e9e9;
        height: 32px;
    }

    .myREMasterTable td.LoginPanel {
        background-image: url('secret/images/RE_Registro_Elettronico.png');
        background-repeat: no-repeat;
        background-position: center top;
        height: 680px;
    }

    .myREMasterTable tr.menuRow {
        height: 0px; /*1.60 HACK: forzato, serve solo nella pagina menu */
        background-color: #e9e9e9;
    }

    .myREMasterTable tr.bodyContentRow {
        height: 565px;
    }

    .myREMasterTable tr.footerContentRow {
        height: 20px;
    }
    /* DEPRECATED:
.myREMasterTable td.border_bottom
{
    border-bottom: 1px solid #f3f3f3;
    }
.myREMasterTable td.border_top
{
    border-top: 1px solid #f3f3f3;
}
*/

    .myREMasterTable td.text_align_left {
        text-align: left;
    }

    .myREMasterTable td.text_align_center {
        text-align: center;
    }


/*-----------------------------------------------------------*/
/* 1.60 */

.RE_ST {
    text-align: left;
    background-color: White;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 25px;
    /*border: 25px solid white;*/
    width: 95%;
}

.RE_ST_td {
    vertical-align: bottom;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.RE_ST_td_top {
    vertical-align: top;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}


.RE_ST_td_middle {
    vertical-align: middle;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}


.RE_ST_td_left {
    text-align: left;
    vertical-align: middle;
}

.RE_ST_td_right {
    text-align: right;
    vertical-align: middle;
}


.RE_ST_td_sep {
    background-color: White;
    width: 10px;
    height: 10px;
}

.RE_ST_td_pad {
    background-color: White;
    width: 10px;
    height: 1px; /* HACK: questa è una forzatura per avere la tabelle grande a sufficienza da coprire il verde RE della Masterpage */
}

.RE_ST_tr_sep {
    background-color: White;
}

.RE_ST_td_Menu_sep {
    background-color: White;
    height: 20px;
    width: 20px;
}

.RE_ST_td_Menu {
    text-align: center;
    vertical-align: top;
    width: 250px;
}

.RE_ST_td_Menu_Header {
    border-bottom: 5px solid #ffffff;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
    height: 40px;
    color: white;
    /*font-size:small; 
	font-weight:lighter;*/
    font-size: 100%;
    font-weight: normal;
}

.RE_ST_td_Menu_Item {
    text-align: left;
    vertical-align: middle;
    height: 60px;
    width: 200px;
    color: white;
    font-size: 95%;
    font-weight: lighter;
    padding: 2px;
}

.RE_ST_td_Menu_Item_image {
    text-align: center;
    vertical-align: middle;
    height: 60px;
    width: 50px;
}

.RE_ST_Label_Title {
    font-weight: bold;
    font-size: 95%;
    color: #96BD0D;
    text-align: left;
    min-width: 130px;
    max-width: 350px;
}


.RE_ST_Label_Large_Black {
    line-height: 1.2;
    text-align: center;
    /*	font-family:Segoe UI;*/
    font-size: 18px;
    font-weight: normal;
    color: #303030;
}

.RE_ST_Label_Medium_Black {
    line-height: 1.2;
    /*	font-family:Segoe UI;*/
    font-size: 14px;
    font-weight: normal;
    color: #303030;
}

.RE_ST_Label_Small_Black {
    line-height: 1.2;
    /*	font-family:Segoe UI;*/
    font-size: 10px;
    font-weight: normal;
    color: #303030;
}

.RE_ST_Label_Micro_Black {
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 7px;
    font-weight: normal;
    color: #303030;
}

.RE_ST_Label_Micro_Black_Demo {
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 7px;
    font-weight: normal;
    color: Red;
}


.RE_ST_Label_Image_Micro_Black {
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 7px;
    font-weight: normal;
    color: #303030;
    background-image: url('secret/images/RE_Registro_Elettronico.png');
}

.RE_ST_Label {
    vertical-align: top;
    /*	font-family:Segoe UI;*/
    font-size: 15px;
    font-weight: normal;
    color: White;
}

.RE_ST_Label_LevelBR {
    /*	font-family:Segoe UI;*/
    font-size: 20px;
    font-weight: bold;
    /*color:#e0e0e0; su sfondo scuro*/
    color: #96bd0d;
}

.RE_ST_Label_Level {
    /*	font-family:Segoe UI;*/
    font-size: 15px;
    font-weight: bold;
    /*color:#e0e0e0; su sfondo scuro*/
    color: #96bd0d;
}

.RE_ST_Label_Box_Title {
    vertical-align: top;
    /*	font-family:Segoe UI;*/
    font-size: 20px;
    font-weight: normal;
    color: White;
}

.RE_ST_Label_Box_Title_RE_Start {
    vertical-align: top;
    /*	font-family:Segoe UI;*/
    font-size: 14px;
    font-weight: normal;
    color: White;
}

.RE_ST_Label_Medium {
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 12px;
    font-weight: normal;
    color: White;
}

.RE_ST_Label_Small {
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 11px;
    font-weight: normal;
    color: White;
}

.RE_ST_Label_Error {
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 11px;
    font-weight: normal;
    color: blue;
}

.RE_ST_List {
    list-style-type: square;
    list-style-position: outside;
    /*	font-family:Segoe UI;*/
    font-size: 13px;
    font-weight: normal;
    color: White;
}

.RE_ST_Parag {
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1;
    /*	font-family:Segoe UI;*/
    font-size: 14px;
    font-weight: normal;
    color: White;
}


.RE_ST_Image {
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70px;
    width: 70px;
}

.RE_ST_Button {
    font-family: Verdana, Arial;
    font-size: 100%;
    font-weight: normal;
    background-color: #2672ec;
    color: white;
    min-width: 60px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.RE_ST_Button_Big {
    font-family: Verdana, Arial;
    font-size: 100%;
    font-weight: normal;
    background-color: #2672ec;
    color: white;
    min-width: 180px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.RE_txt {
    font-family: Verdana, Arial;
    font-size: 100%;
    font-weight: normal;
    color: #303030;
    width: 100%;
    height: 160px;
    background-color: Transparent;
    border: none;
}

.RE_ddlb {
    font-family: Verdana, Arial;
    font-size: 70%;
    font-weight: bold;
    color: #303030;
    min-width: 50px;
    max-width: 300px;
    /*background-color:#f3f3f3;*/
    background-color: Transparent;
    border: none;
    /*border-color:#c6c6c6;*/
}

.RE_ddlb_small {
    font-family: Verdana, Arial;
    font-size: 70%;
    font-weight: bold;
    color: #303030;
    min-width: 50px;
    max-width: 115px;
    /*background-color:#f3f3f3;*/
    background-color: Transparent;
    border: none;
    /*border-color:#c6c6c6;*/
}

.RE_Color_Azure_light {
    /*background-color:#59b4ff;         DANNY: */
    background-color: #004668;
}

.RE_Color_Azure {
    /*background-color:#0080c0;         DANNY:  */
    background-color: #003E5C;
}

.RE_Color_Azure_dark {
    background-color: #0075c6;
}

.RE_Color_Blue {
    background-color: #094ab1;
}

.RE_Color_Gray_light {
    background-color: #e9e9e9;
}

.RE_Color_Gray {
    background-color: #c6c6c6;
}

.RE_Color_Gray_dark {
    background-color: #666666;
}

.RE_Color_Green_light {
    background-color: #058937;
}

.RE_Color_Green_S365_light {
    /*background-color:#03a353;         DANNY: */
    background-color: #027A3E;
}

.RE_Color_Green {
    /*background-color:#008040;         DANNY: */
    background-color: #004622;
}

.RE_Color_Green_S365 {
    background-color: #007032;
}

.RE_Color_Orange_light {
    /*background-color:#ff9030;         DANNY:  */
    background-color: #A35C1F;
}

.RE_Color_Orange {
    /*background-color:#ef4a19;         DANNY:  */
    background-color: #B33813;
}

.RE_Color_Orange_dark {
    /*background-color:#d44c24;         DANNY:  */
    background-color: #9F391B;
}

.RE_Color_Pink {
    background-color: #e5619f;
}

.RE_Color_Green_RE {
    /*background-color:#96bd0d;         DANNY: */
    background-color: #536905;
}

.RE_Color_Green_RE_dark {
    /*background-color:#83a608;         DANNY:  */
    background-color: #354303;
}


/*******************************/
/*	Layer Gestione Help     */
/*******************************/
.tableHelp {
    font-family: Verdana, Arial;
    font-size: 100%;
    font-weight: normal;
    color: #303030;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 1000px;
}

    .tableHelp td.colonne18 {
        height: 18px;
        width: 18px;
    }

    .tableHelp td.celle_centrali {
        text-align: center;
        /*	background-color:white;*/
        background-color: #f3f3f3;
        width: 955px;
    }
